<?xml version="1.0" encoding="utf-8"?>
<Context docBase="{{ solr_dir }}/solr.war" debug="0" crossContext="true">
  <Environment name="solr/home" type="java.lang.String" value="{{ solr_dir }}" override="true"/>
</Context>
