<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName {{ domain }}.dev
    ServerAlias www.{{ domain }}.dev
    DocumentRoot {{ drupal_core_path }}
    <Directory "{{ drupal_core_path }}">
        Options FollowSymLinks Indexes
        AllowOverride All
    </Directory>
</VirtualHost>
